@model IEnumerable<LavornCom.Models.Urunler>
@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <h2 style="color:darkorange">Kategoriler</h2>
    <hr style="border-color:darkorange;border-width :5px" />
    @foreach (var item in Model)
    {


         <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="~/Content/images/shop/@item.ResimUrl" alt="">
                    <h2>@item.UrunFiyat.ToString("#,##0.00") ₺</h2>
                    <p>@item.UrunAd</p>
                   
                    <a href="~/Urunler/Detay/@item.Id" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>İncele</a>
                </div>

            </div>
        </div>
    </div>
    }
</body>
